.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
  display: block;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  gap: 12px;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
  justify-content: center;
  display: flex;
}

.form__input {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  margin-bottom: 32px;
  margin-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.form__button {
  margin: 0;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2f80ed;
  height: 60px;
  padding: 0;
  width: 100%;
}

.form__button:hover {
  opacity: 70%;
}
