.recipes {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  padding: 24px 80px;
}

.recipes__title {
  margin-bottom: 24px;
  margin-top: 100px;
  max-width: 580px;
  color: #ffffff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0;
  color: #ffffff;
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos {
  border-style: none;
  margin-top: 80px;
  margin-bottom: 215px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  display: block;
  border-style: none;
}

.recipes__videos-caption {
  margin-top: 80px;
  margin-bottom: 0;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
